@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/bundles/css")
</head>
<body>
    <header>
        @Html.ActionLink("Home page", "Index", "Home", new { area = "" }, null)
    </header>
    <hr/>
    <div>
        @RenderBody()
    </div>
</body>
</html>
