@{
    ViewBag.Title = "Login";
}

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <form action="@Url.Action("Login")" method="POST">
        <input type="hidden" value="@Html.Encode(ViewBag.ReturningUrl)"/>        
        <label>Password</label>
        <input type="password" name="Password" />        
        @if (ViewBag.Error != null)
        {
            // show error message
            <span style="color: red; font-weight: bold;">@ViewBag.Error</span>            
        }
        <hr />
        <input type="submit" value="Login" />
        <input type="button" value="Cancel" onclick="window.location = '/';" />
    </form>
</body>
</html>
