@* ReSharper disable RedundantNameQualifier *@
@inherits System.Web.Mvc.WebViewPage<MvcControls.Controls.DataGrid.DataGridInlineFormEditModule>
@* ReSharper restore RedundantNameQualifier *@
<div id="PendingChanges" style="display: none;">
</div>
<script type="text/javascript">
    // define global variable
    function grid_Initialize()
    {
        // create new instance
        var grid = new window.Grid();
        
        // initialize code below
        grid.DataSourceName = "@Model.RenderInfo.DataSourcePropertyName";
        grid.GridName = "@Model.RenderInfo.Name";
        grid.NewRowContentUrl = "@Model.NewLineContentUrl.ToUrl(Url)";
        
        // return result
        return grid;
    }    
    
    // execute script
    var @(Model.RenderInfo.Name) = grid_Initialize();
</script>
