@{
    ViewBag.Title = "Login";
}

<fieldset>
    <legend>Please enter password to enter the Admin Control Panel:</legend>
    <form action="@Url.Action("Login")" method="POST">
        <input type="hidden" value="@Html.Encode(ViewBag.ReturningUrl)"/>
        <label>Password</label>
        <input type="password" name="Password" />
        @if (ViewBag.Error != null)
        {
            // show error message
            <span style="color: red; font-weight: bold;">@ViewBag.Error</span>            
        }
        <hr />
        <input type="submit" value="Login" />
        @Html.ActionLink("Cancel", "Index", "Home", new { area = "" }, null)
    </form>
</fieldset>
