@inherits System.Web.Mvc.WebViewPage<SDM.Main.Helpers.Extensions.CustomHtmlHelper.Button.RenderInfo>
<button onclick="javascript:location.href = '@Url.Action(Model.ActionName, Model.ControllerName)'">@Html.Encode(Model.DisplayText)</button>