@inherits System.Web.Mvc.WebViewPage<SDM.Main.Helpers.Extensions.CustomHtmlHelper.Button.RenderInfo>
@if (Model.IsSubmitButton)
{
    <button type="submit">@Model.DisplayText</button>
}
else
{
    <button type="button" onclick="javascript:location.href = '@Url.Action(Model.ActionName, Model.ControllerName, Model.RouteValues)'; ">@Model.DisplayText</button>
}