@model List<SDM.Main.Models.TempItem>
@{    
    ViewBag.Title = "Items";
}

<h2>Items</h2>

<table class="grid">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.Model)
        {
            <tr>
                <td class="grid">@item.ID</td>
                <td class="grid">@item.Name</td>
            </tr>
        }
    </tbody>
</table>
